/* main body */
.main-body {
  margin-top: 10px;
  margin-bottom: 70px;
}

/* main footer */
footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  color: white;
  left: 0;
  z-index: 10;
}

/* progress spin */
#progress-modal .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

/* progress spin */
#progress-modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
